body, html {
    height: 80%;
    margin: 0;
    padding: 0;
    background: #000000;  /* Full black background */
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 70%;
    margin: 50px auto;
    background: #161616;  /* Dark background for contrast */
    padding: 10px;
    border-radius: 8px;  /* Rounded corners for the container */
}

.chat-box {
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 15px;  /* Rounded corners for messages */
    color: #ffffff;
    font-size: 16px;
    max-width: 70%;
}

.user {
    align-self: flex-end;
    background-color: #6e6e6e30;  /* Bright blue for user messages */
}

.assistant {
    align-self: flex-start;
    background-color: #5a5a5aa4;  /* Darker grey for assistant messages */
}

.input-area {
    display: flex;
    padding: 10px;
    background: #161616;  /* Slightly lighter black for input area */
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #555;  /* Dark border for subtle contrast */
    background: #000000;  /* Dark input background */
    color: #fff;  /* White text color */
    border-radius: 10px;
}

.input-area button {
    margin-left: 10px;
    border: none;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.input-area button:hover {
    background-color: #a31515;
}